<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="FtpServerAddress" value="ftp://localhost" />
    <add key="UploadDirectory" value="/UploadTest" />
    <add key="DownloadDirectory" value="/DownloadTest" />
    <add key="SourceFile" value="E0000001001_P_120222160425.txt" />
    <add key="FtpUserName" value="anonymous" />
    <add key="FtpPassword" value="a@b.c" />
    <add key="TestFrequencyInSeconds" value="30" />
    <add key="Load:Upload" value="5"/>
    <add key="Load:Download" value="5"/>
    <add key="Load:MultiThreaded" value="false"/>
    <add key="Behavior:DeleteFilesAfterUpload" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.diagnostics>
    <sources>
      <source name="System.Net" tracemode="protocolonly" maxdatasize="1024">
        <listeners>
          <add name="nlog" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Net" value="Information" />
    </switches>
    <sharedListeners>
      <add name="nlog" type="NLog.NLogTraceListener, NLog" />
    </sharedListeners>
  </system.diagnostics>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="file" xsi:type="File"
          layout="${longdate} ${logger} ${message}"
          fileName="${basedir}/${shortdate}.log" />

      <target name="errorFile" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="${basedir}/${shortdate} - errors.log" />

      <target xsi:type="ColoredConsole"
          name="coloredConsole"
          layout="${longdate} ${logger} ${message}"
          useDefaultRowHighlightingRules="true" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="coloredConsole" />
      <logger name="*" minlevel="Info" writeTo="file" />
      <logger name="*" minlevel="Error" writeTo="errorFile" />
    </rules>
  </nlog>
</configuration>
